In [ ]:
# Making functions e.g. - breaking down tables by ethnicity across multiple tables
 
def fn(phrase):
    print(phrase)

fn(phrase='Hello, World!')
fn('I am will!')

Hello, World!
I am will!

In [11]:
def fxy(x=90, y=10): # set default values
    print(f'The sum of {x} and {y} is {x + y}')

fxy(x=7, y=13)
fxy(y=22, x=12) # order doesn't matter if variables stated

fxy(9, 12) # will pass values to order of variables
fxy() # will revert to default values
fxy(y=9)

The sum of 7 and 13 is 20
The sum of 12 and 22 is 34
The sum of 9 and 12 is 21
The sum of 90 and 10 is 100
The sum of 90 and 9 is 99

In [20]:
# Exercise 1

def xdivy (x, y):
    if x > y:
        print(x / y)
    else:
        print(y / x)

xdivy(10,11)
xdivy(100,20)

1.1
5.0

In [ ]:
# Getting stuff out of function
def divide_nums_return(x, y): # these variables only have their values inside the function (local scope)
    if x > y:
        z = x / y
    else:
        z = y / x
    return z

ans = divide_nums_return(10,100)
print(ans)

10.0

In [ ]:
# Getting multiple things passed from a function

def sum_prod(i, j):
    sum = i + j
    prod = i * j

    return sum, prod

answer = sum_prod(44, 97) # returns tuple
print(answer)
print(type(answer))

ans_sum, ans_prod = sum_prod(10, 100) # returns as multiple variables
print(ans_sum)
print(ans_prod)
print(type(ans_sum))

(141, 4268)
<class 'tuple'>
110
1000
<class 'int'>

In [ ]:
# Exercise 2

def div_minus(a, b):
    if a > b:
        divide = a / b
        minus = a - b
    else:
        divide = b / a
        minus = b - a
    return divide, minus

ans_div, ans_minus = div_minus(1000,100)
print(ans_div)
print(ans_minus)

10.0
900

In [ ]:
# Another method

def div_minus(a, b):
    if a > b:
        return a / b, a -b
    else:
        return b / a, b -a 
    
ans_div, ans_minus = div_minus(1000,100)
print(ans_div)
print(ans_minus)

10.0
900

In [43]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv')
 
def ethnic_check(ethnicity):
    if ethnicity[0] == "W":
        return 'White'
    else:
        return 'Not white'

# . apply method passes function on a row wise basis

df['ethnic_subgroup'] = df['Ethnicity'].apply(ethnic_check)

df[['Ethnicity','ethnic_subgroup']]

    Ethnicity ethnic_subgroup
0        WIRT           White
1        WROM           White
2        AOTH       Not white
3        MWBC       Not white
4        APKN       Not white
..        ...             ...
327      WOTH           White
328      WROM           White
329      BCRB       Not white
330      AIND       Not white
331      WBRI           White

[332 rows x 2 columns]

In [46]:
# 'https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv'
# write a function that calculates ages based on the data, and returns a new column in age range buckets
# 0-5, 6-11, 12-17, 18+

# import data
# write functions
# using conditionals
# chaqnge to date
# calculation on df columns
# making new column

df = pd.read_csv('https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv')

def age_buckets(row):
    bday = pd.to_datetime(row, format="%Y-%m-%d")
    today = pd.to_datetime('today')

    # age = (today - bday)/pd.Timedelta(365.25, 'D')

    if bday + pd.DateOffset(years=6) > today:
        return '0-5 years'
    elif bday + pd.DateOffset(years=12) > today:
        return '6-11 years'
    elif bday + pd.DateOffset(years=18) > today:
        return '12-17 years'
    else:
        return '18+'
        
df['Age Bucket'] = df['PersonBirthDate'].apply(age_buckets)

df[['PersonBirthDate', 'Age Bucket']]

    PersonBirthDate   Age Bucket
0        2019-12-06   6-11 years
1        2011-04-27  12-17 years
2        2017-06-06   6-11 years
3        2014-10-03   6-11 years
4        2019-09-25   6-11 years
..              ...          ...
327      2010-07-07  12-17 years
328      2018-08-14   6-11 years
329      2021-12-09    0-5 years
330      2013-07-23  12-17 years
331      2021-10-25    0-5 years

[332 rows x 2 columns]